%section#services
  .container
    .row
      .col-md-12
        %hr.small-line/
    .row.spacer40
    .row
      .col-md-12.text-center
        %h2.section-title Services
    .row.spacer50
    
    .row
      .col-md-4.col-xs-12
        .services-2
          .services-2-icon
            %i
              = image_tag "icons/ec2.svg", "data-ani"=> "animated", "data-type"=> "fadeIn"
            %h4 EC2 Instances
          .services-2-text
            %p Elastic Cloud Compute (EC2) provides the core of Amazon's scalable computing offering. With complete control over your virtual computing environment, EC2 lets you create and boot new server instances in minutes, scaling dynamically to handle fluctuations in demand.

      .col-md-4.col-xs-12
        .services-2
          .services-2-icon
            %i
              = image_tag "icons/cf.svg", "data-ani"=> "animated", "data-type"=> "fadeIn"
            %h4 Cloudformation Templating
          .services-2-text
            %p CloudFormation makes creating and managing stacks (collections of AWS resources) simple. Resource dependencies are automatically handled for you, which makes deployment more predictable and less stressful.
      .col-md-4.col-xs-12
        .services-2
          .services-2-icon
            %i
              = image_tag "icons/iam.svg", "data-ani"=> "animated", "data-type"=> "fadeIn"
            %h4 IAM Access Security
          .services-2-text
            %p The Identity and Access Management (IAM) capabilities of AWS give you secure access control for both users and integrated systems. Integration with existing identity federation systems eliminates duplication when granting and revoking access.

    .row

      .col-md-4.col-xs-12
        .services-2
          .services-2-icon
            %i
              = image_tag "icons/ec.svg", "data-ani"=> "animated", "data-type"=> "fadeIn"
            %h4 Cache and CDN
          .services-2-text
            %p ElastiCache automatically detects and replaces failed nodes, reducing the overhead associated with self-managed infrastructures and provides a resilient system that mitigates the risk of overloaded databases, which slow website and application load times. 

      .col-md-4.col-xs-12
        .services-2
          .services-2-icon
            %i
              = image_tag "icons/opw.svg", "data-ani"=> "animated", "data-type" => "fadeIn"
            %h4 Continuous Deployment
          .services-2-text
            %p Techniques such as automated testing, continuous integration and continuous deployment allow software to be developed to a high standard and easily packaged and deployed to test environments with minimal manual overhead.
      .col-md-4.col-xs-12
        .services-2
          .services-2-icon
            %i
              = image_tag "icons/node.svg", "data-ani"=> "animated", "data-type"=> "fadeIn"
            %h4 Node development
          .services-2-text
            %p Node.js operates on a single thread, using non-blocking I/O calls, allowing it to support tens of thousands of concurrent connections, without worrying about the cost of context-switching between threads. 
 
 