= partial "partials/header-parallax"
= partial "partials/home"
= partial "partials/about"
= partial "partials/service-gallery"
= partial "partials/services"
= partial "partials/parallax"
= partial "partials/showcase"
= partial "partials/footer"