= partial "partials/video"
= partial "partials/services"
= partial "partials/about"
= partial "partials/parallax"
= partial "partials/team"
= partial "partials/job"
= partial "partials/portfolio"
= partial "partials/showcase"
= partial "partials/footer"